$secondary-color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";

body {
    background-color: #fafafa;
    color: $secondary-color;
    font-family: 'Montserrat', sans-serif;
}

#main-container {
    margin: 30px auto;
}

.iphone {
    max-width: 100%;
    position: relative;
    right: 30px;
}

.site-footer {
    text-transform: uppercase;
    font-size: 12px;
}

.login-box,
.signup-box {
    background-color: white;
    border: 1px solid #edeeee;
    padding: 10px;
    text-align: center;
}

.platzigram-tittle {
    font-family: 'Oleo Script', cursive;
    font-size: 5em;
    color: $secondary-color !important;
}

.signup-form {
    width: 80%;
    margin: 0 auto;
}

.signup-form h2 {
    color: #a5a7aa;
    font-size: 1.2em;
}

.signup-form .btn.btn-fb {
    font-size: .9em;
    background-color: #4090db;
}

.signup-form .btn.btn-fb:hover {
    background-color: #2d6599;
}

.signup-form .btn.btn-signup {
    background-color: $secondary-color;
}

.header {
    background-color: white;
    color: $secondary-color;
    box-shadow: none;
    border-bottom: 1px solid #edeeee;

}

#main-container {
    margin-top: 0;
}

.landing {
    margin: 30px auto;
}

.trademark {
    margin: 20px 0;
    font-size: 14px;
}

.layout-title {
    font-size: 2.1rem;
}

$avatar-size: 48px;

.avatar {
    width: $avatar-size;
    border-radius: 50%;
    margin-right: 12px;
    float: left;
}

.card {
    margin-top: 50px;
}

.card .card-title {
    display: flex !important;
    height: $avatar-size;
    align-items: center;
}

.card .username {
    color: $secondary-color;
}

.card small.time {
    line-height: $avatar-size;
}

.card p {
    padding: 20px 0;
    position: relative;
    bottom: 5px;
}

.card .likes {
    line-height: 30px;
    margin-left: 12px;
}

.card i {
    font-size: 30px;
}

.card .fa-heart-o {
    color: $secondary-color;
}

.fa-heart {
    color: purple;
}
