<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0") 

    title Document

    link(href="https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script", rel="stylesheet")
    link(rel="stylesheet", href="/css/main.css")
  body
    section#main-cotainer
    
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            // Cambiar idioma
            a.dropdown-button.btn(href='#', data-activates='dropdown1') Idioma
            // Dropdown Structure
            ul#dropdown1.dropdown-content
              li
                a(href='#!') Español
              li
                a(href='#!') Inglés
          .col.s12.l3.push-l6.center-align.trademark
            | © 2018 Melygram

    script(src='./jquery.min.js')
    script(src='./materialize.min.js')